table .header-fixed {
  position: fixed;
  top: 80px;
  /*left: 0;*/
  /*right: 0;*/
  z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
  border-bottom: 1px solid #d5d5d5;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
thead {
  background-color: #fff;
}
tbody {
  background-color: #fcfcfc;
}

/*
#mynav {
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1030;
  height:40px;
  color:#fff;
  background-color:#666;
  text-align: center;
}
body { padding-top:60px; }
*/
